html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 10px;
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  background-color: #fff;
  font-size: 10px;
  font-family: 'Merriweather';
}

p a {
  text-decoration: none;
  color: #000;
  border-bottom: 2px solid #4A99F5;
  padding: 0 2px;
}

p a:hover,
p a:active {
  border: 0;
  background-color: #4A99F5;
  border-radius: 3px;
  color: #fff;
}