html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 10px;
}
body {
  margin: 0;
  background-color: #fff;
  font-size: 10px;
}

p a {
  text-decoration: none;
  color: #000;
}

p a:hover,
p a:active {
  border-bottom: 1px solid #4A99F5;
}